---
title: JAMstack About Page
layout: base.njk
---


<div class="container">
    <h1>The Friggin About Page</h1>
    <div>
        <h2 class="jams"> ...</h2>
    </div>
</div>

{% for item in news %}
  <a href="/{{ item.country}}">{{ item.country }}</a>
{%  endfor %}

<script src="/js/vibe.js"></script>