---
title: JAMstack About Page
layout: base.njk
---


<div class="container">
    <h1>The Friggin About Page</h1>
    <div>
        <h2 class="jams"> ...</h2>
    </div>
</div>
<script src="js/words.js"></script>